<div class="container">
  <div class="card">
    <div class="card-content">
    <%# <h3>Usuários</h3> %>
      <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Cargo</th>
          <%# <th colspan="4"></th> %>
        </tr>
      </thead>  
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed-action-btn tooltipped" style="margin-bottom: 36px;">
  <%= link_to new_user_registration_path, class: "btn-floating btn-large waves-effect waves-light blue-grey darken-1", method: :get do %>
    <i id="add"class="material-icons">add</i>
  <% end %>
</div>