<% content_for :title do %>Sobre<% end %>
<h3>Sobre o site</h3>
<p style="color: #fff;">
Esta aplicação web foi criada com
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
a partir do <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
